@{
    Layout = null;
}
    @using System.Configuration;

<!DOCTYPE html>
<head>
    <title>  Forgot Password - Time Management System </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />

    <!-- Favicon icon -->
    <link rel="icon" href="#" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="/assets/fonts/font-awsome-pro/css/pro.min.css">
    <link rel="stylesheet" href="/assets/fonts/feather.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/customizer.css">
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.toast.js"></script>
    <script src="~/Scripts/toastNotifications.js"></script>

    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<html>
<body>

    
@Html.Hidden("isSuccess", (bool)ViewBag.isSuccess)
@Html.Hidden("Msg", (string)ViewBag.Msg)
@Html.Hidden("id", (string)ViewBag.userID)
@Html.Hidden("email", (string)ViewBag.userEmail)
       



    <div class="auth-wrapper">
        <div class="auth-content">

            <div class="row align-items-center text-center">
                <div class="col-lg-6 col-sm-12 pr-0">
                    <div class="company-logo">

                        @if (ConfigurationManager.AppSettings["IsAbacus"] == "true")
                        {
                        <img src="~/assets/images/LogoAbacus/loginLogo.png" alt="Deloitte Logo" style="display: none;" />
                        }
                        else
                        {
                        <img src="~/assets/images/Logo/loginLogo.png" alt="Deloitte Logo" style="display: none;"/>
                        }

                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 pl-0">
                    <div class="card-body">
                        <div class="login-box">
                            <!-- <img src="assets/images/logo-dark.svg" alt="" class="img-fluid mb-4"> -->
                            <h1 class="mb-3 f-w-600"> Time Management <br /> System</h1>
                            <h1 class="mb-3 f-w-600"> Forget Password </h1>

                            @{
                                if (ViewBag.isSuccess != null)
                                {
                                    if (ViewBag.isSuccess == true)
                                    {
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="form-control user-pass" id="NewPassword-validation"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="form-control user-pass" id="confirm-password-validation"></div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="login-btn">
                                            <button class="btn btn-primary mb-4" id="resetPassword"> Reset Password <i class="fas fa-sign-in-alt"></i> </button>
                                        </div>
                                    }
                                }
                            }




                            <!-- <p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup.html" class="f-w-400">Signup</a></p> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript">

        var loadPanel = $(".loadpanel").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: true,
            closeOnOutsideClick: false,
            onShown: function () {
            },
            onHidden: function () {
            }
        }).dxLoadPanel("instance");

        var newPasswordInstance;
        var ConfirmPasswordInstance;
        function applyValidation() {

            newPasswordInstance = $("#NewPassword-validation").dxTextBox({
                mode: "password",
                placeholder: "New Password",
                maxLength: 16,
                buttons: [{
                    name: "password",
                    location: "after",
                    options: {
                        icon: "/assets/images/eye.png",
                        type: "default",
                        onClick: function () {
                            newPasswordInstance.option("mode", newPasswordInstance.option("mode") === "text" ? "password" : "text");
                        }
                    }
                }]
            }).dxValidator({
                validationRules: [
                    {
                        type: "required",
                        message: "New Password is required"
                    }
                ]
            }).dxTextBox('instance');

            ConfirmPasswordInstance = $("#confirm-password-validation").dxTextBox({
                mode: "password",
                placeholder: "Confirm Password",
                maxLength: 16,
                buttons: [{
                    name: "password",
                    location: "after",
                    options: {
                        icon: "/assets/images/eye.png",
                        type: "default",
                        onClick: function () {
                            ConfirmPasswordInstance.option("mode", ConfirmPasswordInstance.option("mode") === "text" ? "password" : "text");
                        }
                    }
                }]
            }).dxValidator({
                validationRules: [
                    {
                        type: "compare",
                        comparisonTarget: function () {
                            var password = $("#NewPassword-validation").dxTextBox("instance");
                            if (password) {
                                return password.option("value");
                            }
                        },
                        message: "'New Password' and 'Confirm Password' do not match."
                    },
                    {
                        type: "required",
                        message: "Confirm Password is required"
                    }
                ]
            }).dxTextBox('instance');
        }


        $('document').ready(function () {

            if ($("#isSuccess").val() != "True") {
                AlertToast('error', $("#Msg").val());
            }

            applyValidation();

            function validateAndSubmit(params) {

                var result = params.validationGroup.validate();

                var newPass = newPasswordInstance.option('value');
                var confirmPass = ConfirmPasswordInstance.option('value');

                if (result.isValid) {

                    var userId = $("#id").val();
                    var userEmail = $("#email").val();

                    var url = "/Home/ResetUserPassword";

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {
                            userId: userId,
                            userEmail: userEmail,
                            newPassword: newPass,
                            confirmPass: confirmPass
                        },

                        success: function (response) {
                            if (response.Success) {
                                AlertToast('success', response.Msg);
                                setTimeout(function () {
                                    window.location = "/Home/Index";
                                }, 5000);

                            }
                            else {
                                AlertToast('error', response.Msg);
                            }
                        },
                        error: function (response) {
                            console.log(response);
                        },
                        failure: function (response) {
                            console.log(response);
                        }

                    });
                }
                else {
                    var msg = "Please enter required fields";
                    if (ConfirmPasswordInstance.option('value') != newPasswordInstance.option('value'))
                        msg = "'New Password' and 'Confirm Password' do not match.";

                    AlertToast('error', msg);
                }


            }

            $("#resetPassword").dxButton({
                text: "Reset Password",
                type: "success",
                onClick: validateAndSubmit
            });


        });
    </script>

</body>
</html>